.page {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-start;
}

.movies-gallery {
  max-width: 70%;
  text-align: center;

  &__head {
    text-transform: uppercase;
    font-size: 30px;
    margin: 25px 0;
  }

  &__wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.favorites {
  width: 30%;
  background-color: #F9F7F7;
  padding: 20px;
  flex: 1 auto;

  &__head {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: max-content;
  }
}